@use "../../assets/styles/Settings/colors";

.input {
    width: 100%;
    .label{
        font-size: 14px;
        font-weight: 600;
        color: colors.$black;
    }
    :global(.ant-input){
        border-radius: 10px;
        border: 1px solid colors.$grey;
    }
    :global(.ant-input-password){
        border-radius: 10px;
        border: 1px solid colors.$grey;
    }
}